.pokemon {
  width: 900px;
  margin: 0 auto;
  text-align: center;
}

.pokemon > img {
  width: 150px;

  /* your code here */
}

#bulbasaur {
  /* your code here */
  position: relative;
  top: 5mm;
}

#charmander {
  /* your code here */
  position: relative;
  top: 11mm;
}

#squirtle {
  /* your code here */
  position: relative;
  top: 20mm;
}

#pikachu {
  /* your code here */
  position: relative;
  top: 43mm;
}

#jigglypuff {
  /* your code here */
  position: relative;
  top: 80mm;
}
